.main-area-about-us {
    height: 30vh;
    width: 100%;
    min-height: 300px;
    background: url(../Lian_progect/images/logo-about-us.png) center no-repeat;
    background-size: cover;
}

.top-area h5 {
    text-align: left;
    margin-left: 250px;
}

.container-lg {
    max-width: 100%;
}

.imaga {
    width: 50%;
}

.our-story {
    font-size: 16px;
    color: #777777;
    letter-spacing: 0.35px;
    line-height: 30px;
    text-align: left;
    padding-left: 50px;
    width: 50%;
}

.our-story h5 {
    text-align: left;
    margin-top: -16px;
}

.about-us {
    display: flex;
    margin: 70px 0 100px 0;
}

.skill {
    font-weight: 700;
    color: #2f302f;
    letter-spacing: 0.4px;
}

.range {
}

.range-light-grey {
    width: 100%;
    height: 10px;
    background-color: #ebebeb;
    position: relative;
}

.range-dark-grey {
    height: 2px;
    background-color: #a1a1a1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.black-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 6px solid #000000;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.tool-tip {
    position: absolute;
}

.black-tip {
    width: 40px;
    height: 21px;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.brill {
    width: 0;
    height: 0;
    border-top: 14px solid #000;
    border-right: 8px solid transparent;
}

.range.photoshop .black-dot {
    left: 90%;
}

.range.photoshop .range-dark-grey {
    width: 90%;
}

.range.photography .black-dot {
    left: 50%;
}

.range.photography .range-dark-grey {
    width: 50%;
}

.range.design .black-dot {
    left: 85%;
}

.range.design .range-dark-grey {
    width: 85%;
}

.range.branding .black-dot {
    left: 95%;
}

.range.branding .range-dark-grey {
    width: 95%;
}

h4 {
    font-size: 30px;
    letter-spacing: 12px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    color: #000000;
}

.awesome-team {
    font-size: 18px;
    color: #777777;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
}

.awesome-team p {
    margin-bottom: 70px;
}

.team {
    display: flex;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
}

.employee h5 {
    text-transform: uppercase;
    letter-spacing: 0.96px;
    font-size: 24px;
    font-weight: 300;
    text-align: left;
    line-height: 14px;
    margin-bottom: 15px;
    margin-top: 0;
}

.employee h6 {
    font-weight: 700;
    color: #2f302f;
    font-size: 16px;
    line-height: 10px;
    margin-top: 0;
}

.employee p {
    font-size: 14px;
    font-weight: 400;
    color: #9c9c9c;
    line-height: 24px;
}

.employee {
    text-align: left;
    background-color: #ffffff;
    margin: 0 15px 75px;
    max-width: 33.3%;
}

.text-about {
    padding: 30px;
}
