img {
    width: 100%;
}

.main-body-container {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;

    @media screen and (max-width: 768px) {
        display: inline;
        margin-left: 0;
        margin-right: 0;
    }

    .column {
        width: 33.3%;
        margin: 75px 15px;
        position: relative;

        @media screen and (max-width: 768px) {
            width: 100%;
            margin: 0;
        }

        .text-block {
            padding: 45px;
            background-color: #fff;
            margin-bottom: 33px;

            .black-selected {
                background-color: #000000;
                font-size: 13px;
                color: #ffffff;
                text-transform: uppercase;
                display: inline-block;

                p {
                    margin: 0;
                }
            }

            .semi-bold {
                font-size: 14px;
                font-weight: 700;
                color: #333333;
            }

            .transclucent {
                font-size: 13px;
                font-weight: 700;
                color: #cccccc;
                line-height: 30px;
                margin-bottom: 25px;
                margin-top: -10px;
            }

            .post {
                font-size: 13px;
                font-weight: 400;
                color: #777777;
                line-height: 24px;
            }

            .svg {
                display: flex;
            }

            .svg img {
                height: 30px;
                width: 30px;
                margin-top: 8px;
            }

            .join-icon {
                display: flex;
                right: 10px;
                top: 313px;
                position: absolute;

                .svg-icon img {
                    width: 65px;
                }
            }
        }
    }
}

.box {
    height: 60px;
    width: 100%;
    vertical-align: middle;
    // white-space: nowrap;
    position: relative;
    border: none;
    background-color: #ffffff;
    margin-bottom: 33px;

    .search-container input {
        border: none;
        font-style: italic;
        font-size: 16px;
        padding-top: 20px;
        padding-left: 20px;
    }
}

.icon-search img {
    background-color: #999999;
    border-radius: 3px;
    position: absolute;
    margin: 11px;
    right: 0;
    width: 35px;
    height: 34px;
}

.recent-post {
    // margin-bottom: 33px;

    .triangle-down {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 10px solid #ebebeb;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 40px;
    }

    .recent {
        background-color: #fff;
        padding: 25px 25px 1px 25px;
    }
}

.recent-header {
    background-color: #ebebeb;
    height: 40px;
    position: relative;

    p {
        font-size: 18pt;
        text-transform: uppercase;
        color: #000000;
        letter-spacing: 7.2px;
        text-align: center;
        line-height: 50px;
        font-weight: 300;

        @media screen and (max-width: 1024px) {
            font-size: 10pt;
        }

        @media screen and (max-width: 768px) {
            font-size: 13pt;
        }
    }
}

.posts {
    display: flex;
    margin-bottom: 20px;

    .photo {
        min-width: 35%;
    }

    .signature {
        padding-left: 25px;
        margin: 0;

        .nature {
            font-size: 16px;
            color: #3d3d3d;
            font-weight: 500;
            margin-top: 0;
        }
    }
}

.date {
    font-size: 13px;
    color: #9a9a9a;
    font-weight: 300;
}

.popular-tags {
    background-color: #ffffff;
    padding: 20px;

    .tags {
        border: 1px solid #ebebeb;
        padding: 9px 18px;
        color: #9c9c9c;
        font-size: 13px;
        font-weight: 400;
        border-radius: 3px;
        white-space: nowrap;
        display: inline-block;
        align-items: center;
        margin-top: 5px;
    }

    a:hover {
        background-color: #000000;
        color: #ffffff;
    }
}

.instagram {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background-color: #ffffff;
    padding: 30px 20px 20px 20px;
}

img.insta-img {
    max-width: calc(33.3% - 10px);
    margin: 5px;
}
