.top-area {
    height: 50vh;
    width: 100%;
    min-height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-about {
        background: url(/images/logo-about-us.png) center no-repeat;
        background-size: cover;
    
        .main-area-about-us {
            position: absolute;
    
            @media screen and (max-width: 769px) {
                position: static;
                left: auto;
            }
        }
    }

    &-blog {
        background: url(/images/blog-logo.png) center no-repeat;
        background-size: cover;
    
        /* small desktop */
        @media screen and (max-width: 1024px) {
            height: 40vh;
            min-height: 300px;
        }
    
        @media screen and (max-width: 768px) {
            height: 30vh;
            min-height: 200px;
        }
    }

    &-post {
        background: url(/images/blog-logo.png) center no-repeat;
        background-size: cover;
    }

    &-contact {
        background: url(/images/logo-about-us.png) center no-repeat;
        background-size: cover;
    }

    &-portfolio {
        background: url(/images/base.png) center no-repeat;
        background-size: cover;
    }
}

.top-black-area {
    background: #000000;
    font-weight: 300;
    text-align: center;
    padding: 0 20px;

    h2 {
        margin: 0;
        color: #ffffff;
        font-size: 48px;
        text-transform: uppercase;
        letter-spacing: 4.8px;

            /* small desktop */
    @media screen and (max-width: 1024px) {
        margin: 0;
        font-size: 30px;
        font-weight: 300;
}
    }


}

.top-letter-spase-area {
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 7.2px;
    text-align: center;
    line-height: 50px;
    font-weight: 300;

    /* small desktop */
    @media screen and (max-width: 1024px) {
    font-size: 12px;
    }
}

.box-shadow {
    box-shadow: 1px 3px 3px #d9d9d9 inset; 
    z-index: 22;
    width: 100%;
  }